body{
  background-color: #4f9989;
  font-family: system-ui, sans-serif;
}

p {
    text-align:center;
}

h3 {
  color: rgb(47, 80, 70);
}
h2 {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 400px;
  background-color: #67a3b3;
  border-radius: 20px;
  display: block;      
  margin-left: auto;   
  margin-right: auto; 

}

li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
  transition: 0.3;
}

li a:hover {
  background-color: #8d9994;
  color: white;
  border-radius: 30px;
  transform: scale(1.02);
}

#principal{
  margin: 30px;
  background-color: #d1e4e0;
  padding: 300px;
  border-radius: 30px;
}

img {
    display: block;      
    margin-left: auto;   
    margin-right: auto; 
}
